.homelogo{
    display: flex;
    /* margin: 0; */
    margin-top: 17px;
}

.tog-n-cols{
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}
.padd-cont-cust{
    padding : 0 10%;
}
.homename{
    margin-top: -3px;
    color: #203864;
    font-weight: 700;
}
.navsty{
    color: #203864 !important;
    font-weight: 700; 
}

.navbar-light .navbar-nav .nav-link.active{
   text-decoration: underline;
   text-decoration-style: solid;
   text-decoration-color: #6ABA2F;
   text-decoration-thickness: 3px;
   text-decoration-line: underline;
   text-underline-offset: 7px;
}
.arrowsize{
    font-size: 10px;
}
.arrow-down{
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #203864;
    margin-top: -22px;
    margin-left: 64px;
    margin-right: 15px;
}
.arrow-up{
    width: 0px;
    height: 0px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #203864;
    margin-top: -22px;
    margin-left: 64px;
    margin-right: 15px;

}
.arrow-down.disabled{
    border-top: 5px solid #c6ccd9;
    border-top: 5px solid #c6ccd9;
}
.page-mask{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}
.stats-mask{
    background-color: rgba(0, 0, 0, 0) !important;
    border: 1px solid grey !important;
}
.hr-stats-mask{
    border: 1px solid grey !important;
}
.p1{
    margin-left: 71px;
}
.p3{
    margin-left: 93px;
}
.p4{
    margin-left: 75px;
}
.p5{
    margin-left: 60px;
}
.p6{
  margin-left: 55px;
}
.top-right{
    position: absolute;
    top: 200px;
    right: 750px;
    color: white;
    font-weight: 900;
}
.container1{
    position: relative;
    width: 100%;
    /* max-width: 3000px; */
    /* text-align: center; */
}
.image-title-text{
    position: absolute;
    top: 26%;
    color: white;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 35px;
}
.image-main-text{
    position: absolute;
    top: 33%;
    color: white;
    font-size: 3.2rem;
    font-weight: 900;
    /* line-height: 35px; */
}
.container1 .start-team{
    position: absolute;
    display: flex;
    top: 55%;
    border: 0.5px solid #FFFFFF;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    background: white;
    color: #203864;
    font-weight: 700;
   
}
.start-team-mobile{
    display: none;
}
.container1 .be-player{
    position: absolute;
    display: flex;
    top: 55%;
    border: 0.5px solid #6ABA2F;
    border-radius: 10px;
    padding: 0.5rem 1.5rem;
    background: #6ABA2F;
    color: white;
    font-weight: 700;
    left: 55%;
}
.be-player-mobile{
    display: none;
}
.container1 .mainimg{
    width: 100%;
}
.stats{
    height: 450px;
    width: 80%;
    background-color: white;
    border: 0.5px solid #E7E7E7;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.stats-text{
    margin-top: 15px;
    color: #203864;
    font-weight: bolder;
    text-align: center;
}
.metaindusimg{
    /* background-image: url("../../images/Rectangle.png"); */
    display: block;
}
/* .tableimg{
    width: 32px;
    height: 20px;
}  */
.titleimg-sty{
    /* margin: 20px 35px 10px;  */
    /* margin-top: -40px; */
    width: 80%;
    margin-left: 3.5vw;
    margin-bottom: 3.2rem;
}
.img-sty{
    width: 22px;
    height: 22px;
    margin-top: -6px;
}
.img-dimen{
    width: 30px;
    height: 30px;
    margin-top: 23px;
}
.title-sty{
font-style: normal;
font-weight: bold;
font-size: 15px;
margin-left: 7px;
color: #203864;
}
.title-adj{
    margin-top: -32px;
}
.player-text{
    margin-left: 30px;
}
.balance-sty{
    float: right;
    margin-top: -38px;
    /* margin-left: 21rem; */
    font-size: 15px;
    font-weight: bold;
    font-family: "Montserrat";
    color: #203864;
 }
 .email-adj{
    margin-top: -22px;
    margin-left: 8px;
    font-size: 10px;
    color: #203864;
}
.balance-titlesty{
    float: right;
    margin-top: -30px;
    /* margin-left: 21rem; */
    font-size: 9px;
    font-family: "Montserrat";
    color: #203864;
 }
.tableflex{
     width: 80%;
     margin-top: 3rem;
     margin-left: 3.5vw;
     margin-bottom: 3rem;
}
.stats-numtext{
    float: right;
    font-weight: 800;
    color: #203864;
}
.hr-tag{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border: 0.5px solid #E7E7E7;
    color: #E7E7E7;
}
.image-main-mobile-text, .image-main-mobile-text1{
    display: none;
}
.navbar-toggler-icon{
    background-image: url("../../images/mobilebars.png") !important;
}
.navbar-light .navbar-toggler{
    border: none;
}
.apps-dropdown{
    width: 100%;
    height: 355px;
    position: absolute;
    z-index: 2;
    top: 57px;
    background-color: white;
    border-top: 0.5px solid #E7E7E7; 
}
.apps-left_data{
    /* margin-left: 4rem; */
    margin-top: 2.3rem;
    cursor: pointer;
    padding: 10px 40px;
}
.left-text{
    color:#203864;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
}
.vl{
    border-left: 0.5px solid #E7E7E7;
    height: 354px;
    margin-left: -24px;
}
.apps-right_title{   
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    color: #203864;
    margin-top: 3rem;
    line-height: 4px;
}
.apps-right_desc{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #203864;
}
.img-icon{
    cursor: pointer;
}
.img-icon:hover{
    cursor: pointer;
    background: #fff;
    box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #fff;
    transition: box-shadow .3s ease-in-out;
}
.the-len{
    cursor: pointer;
}
/* .the-left-width{
    width: 395px !important;
} */
.vertical-width{
    width:  2% !important;
}
.the-center{
    text-align: center;
}
.the-right{
    text-align: end;
}
.log-1:hover{
    background: #f5f5f5;
    width: 100%;
    padding: 10px 40px;
}

/* ---------------------------------- RESPONSIVENESS ---------------------------------- */


@media screen and (min-width: 576px) {
    .container1 .be-player{
        left: 71%;
    }
    .image-title-text{
        font-size: 1rem;
        line-height: 22px;
    }
    .image-main-text{
        font-size: 1.2rem;
    }
 
}
@media screen and (min-width: 768px) {
    .container1 .be-player{
        left: 66%;
    }
    .image-title-text{
        font-size: 1.2rem;
    }
    .image-main-text{
        font-size: 1.6rem;
    }
 
}
@media screen and (min-width: 992px) {
    .container1 .be-player{
        left: 61%;
    }
    .image-main-text{
        font-size: 2.5rem;
    }
}
@media screen and (min-width: 1200px) {
    .container1 .be-player{
        left: 56%;
    }
    .image-title-text{
        font-size: 1.6rem;
    }
    .image-main-text{
        font-size: 3rem;
    }
    .apps-left_data{
        padding: 10px 80px;
    }
    .log-1:hover{
        padding: 10px 80px;
    }
}
@media screen and (min-width: 1600px) {
    .container1 .be-player{
        left: 52%;
    }
    .apps-left_data{
        margin-top: 2rem;
        /* padding: 10px 80px; */
    }
    .left-text{
        font-size: 20px;
    }
}
@media screen and (min-width: 1800px) {
    .the-left-width{
        width: 395px !important;
    }
    .vertical-width{
        width:  2% !important;
    }
    .right-width{
        width:  76% !important;
    }
}
@media screen and (min-width: 2560px) {
    .container1 .be-player{
        left: 49%;
    }
}

/* MOBILE RESPONSIVENESS ---------------------------------- */
@media screen and (max-width: 992px){
    .tog-n-cols{
        width: auto;
        display: block;
        align-items: none;
        flex-direction: none;
        justify-content: center;
    }
    .apps-left_data{
        padding: 10px 30px;
    }
    .log-1:hover{
        padding: 10px 30px;
    }
    .left-text{
        font-size: 12px;
    }
}

@media screen and (min-width: 260px) and (max-width: 576px) {
    .mainimg{
        display: none;
    }
    .metaindusimg{
            background-image: url("../../images/mobileimg.png");
            width: 100%;
            height: 218px;
            background-repeat: no-repeat;
            background-size: cover;
            /* background-attachment: fixed;
            background-position: center; */
    }
    .image-title-text{
        position: absolute;     
        color: white;
        font-size: 14px;
        font-weight: 400;
        line-height: 35px;
        margin-left: 30%;
        top: 24%;
    }
    .image-main-text{
     display: none;
    }
    .image-main-mobile-text{
        position: absolute;
        top: 33%;
        color: white;
        font-size: 20px;
        font-weight: 900;
        margin-left: 30%;
        margin-top: 10px;
        display: block;
    }
    .image-main-mobile-text1{
        position: absolute;
        top: 44%;
        color: white;
        font-size: 30px;
        font-weight: 900;
        margin-left: 30%;
        margin-top: 10px;
        display: block;
    }
   .start-team-mobile{
    position: absolute;
    display: flex;
    top: 70%;
    border: 0.5px solid #FFFFFF;
    border-radius: 7px;
    padding: 5px 25px;
    background: white;
    color: #203864;
    font-weight: 700;
    margin-left: 30%;
    font-size: 10px;
    content: "Teams";
    }
    .container1 .start-team{
        display: none;
    }
    .container1 .be-player{
        display: none;
    }
    .be-player-mobile{
        position: absolute;
        display: flex;
        top: 70%;
        border:0.5px solid #6ABA2F;
        border-radius: 7px;
        padding: 5px 25px;
        background: #6ABA2F;
        font-weight: 700;
        font-size: 10px;
        color: white;
        }
        .stats-mobile{
            display: none;
        }
        .img-mbl{
            margin-left: auto;
            margin-right: auto;
            width: 100%;
        }
        .padd-cont-cust{
            padding: 0 10px;
        }

    /* OTHER RESPONSIVENESS ---------------------------------- */
  }
  @media screen and (min-width: 260px) and (max-width: 320px) {
      .be-player-mobile{
          left: 65% !important;
      }
  }
  @media screen and (min-width: 320px) and (max-width: 400px) {
    .be-player-mobile{
        left: 57% !important;
    }
}
@media screen and (min-width: 400px) and (max-width: 576px) {
    .be-player-mobile{
        left: 52% !important;
    }
}
@media screen and (min-width: 480px) and (max-width: 576px) {
    .be-player-mobile{
        left: 49% !important;
    }
}