/* .App {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.App img {
  width: 25%;
  height: auto;
}
.App .iconMobile {
  width: 60%;
  height: auto;
} */
body{
  font-family: 'Montserrat', sans-serif !important;
}
